header
    div.header__logo-container
        a(href="/").header__logo
            img.cookie__logo(src="https://ifh.cc/g/t9Pw9J.png", alt="logo")
    nav
        ul
            li
                a(href="/search")
                    i.fas.fa-search
            li
                a(href="/videos/upload") Upload Video
            if loggedIn
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/users/logout")  Log Out
                li
                    a(href=`/users/${loggedInUser._id}`)
                        if !loggedInUser.avatarUrl
                            span.header__icon 😀
                        else
                            if loggedInUser.avatarUrl.includes("github")
                                img.header__avatar(src=loggedInUser.avatarUrl)
                            else
                                img.header__avatar(src=loggedInUser.avatarUrl)
            else
                li
                    a(href="/login")  Login       