extends ../base
include ../mixins/video

block content
    div.profile__data
        img(src=user.avatarUrl, crossorigin="use-credentials").avatar
        h3=user.name
    div.video-grid
        each video in user.videos
            if video.avatar
                +video(video)
            else
                +video({ ...video, avatar: '😀' })
        else
            span.empty__message No videos found